<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/blog-add.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nerko+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <div class="item1">
            <h1 th:text="#{complete.section}">Complete the following sections</h1>
        </div>

        <div class="item2">
            <form th:action="@{/add-new-blog}" method="POST" class="form-container" th:object="${newBlog}">
                <div class="header">
                    <h1 th:text="#{write.header}">Write the header</h1>
                    <textarea th:field="*{header}"></textarea>
                    <span th:if="${#fields.hasErrors('header')}" th:errors="*{header}" class="hasError"></span>
                </div>
    
                <div class="text">
                    <h1 th:text="#{write.text}">Write your thoughts</h1>
                    <textarea th:field="*{mainText}"></textarea>
                    <span th:if="${#fields.hasErrors('mainText')}" th:errors="*{mainText}" class="hasError"></span>
                </div>

                <button type="submit" th:name="action" th:value ="submit" th:text="#{submit.button}">Submit</button>
                <button type="submit" th:name="action" th:value="return" th:text="#{return.button}">Return</button>
            </form>
        </div>

    </div>
</body>
</html>