<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/list.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nerko+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="item1">
        <h5 th:each="blog:${blogs}" th:text="'Posted on ' + ${blog.postedDate}">Posted on date</h5>
        <h1>List of Blogs</h1>

        <div class="user-link">
            <span th:if="${currentPage > 1}"><a th:href="@{'/get-list/' + ${currentPage - 1}}" class="button"><i class="fas fa-backward"></i></a></span>
            <span><a th:href="@{/main}" class="button">Back to Menu</a></span>
            <span th:if="${currentPage < totalPages}"><a th:href="@{'/get-list/' + ${currentPage + 1}}" class="button"><i class="fas fa-forward"></i></a></span>
        </div>
    </div>

    <div class="item2" th:each="blog:${blogs}">
        <div class="header-text">
            <p th:text="${blog.header}">Header Text</p>
        </div>

        <div class="blog-text">
            <p th:text="${blog.mainText}">Blog Text</p>
        </div>
    </div>

    <div class="extra-link" th:each="blog:${blogs}">
        <span><a href="#Like" class="button"><i class="far fa-heart"></i>Like</a></span>
        <span><a href="#Comment" class="button"><i class="fas fa-comment-medical"></i>Comment</a></span>
        <span><a th:href="@{/edit/{id}(id=${blog.id})}" class="button">Edit<i class="fas fa-pencil-alt"></i></a></span>
        <span><a th:href="@{/delete/{id}(id=${blog.id})}" class="button">Delete<i class="fas fa-times"></i></a></span>
    </div>

    <div class="fixed-text">
        <h4>Comment Section</h4>
    </div>

    <div class="comments">
        <div th:each="comLi:${comList}">
            <h5 th:text="${comLi.postedDate}">Comment Date</h5>
            <p id="comments-text" th:text="${comLi.text}">Comment</p>
            <h5 id="commentator" th:text="${comLi.name} + ' ' + ${comLi.secondName}">Commented by</h5>
        </div>
    </div>
</div>
</body>
</html>