<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/blog-edit.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nerko+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <div class="item1">
            <h1>Edit your blog</h1>
        </div>

        <div class="item2">
            <form action="#" method="POST" class="form-container">
                <div class="id" hidden>
                    <div><p>Id</p></div>
                </div>

                <div class="date" hidden>
                    <div><p>Date</p></div>
                </div>
                
                <div class="header">
                    <h1>Edit the header</h1>
                    <textarea></textarea>
                </div>
    
                <div class="text">
                    <h1>Edit your thoughts</h1>
                    <textarea></textarea>
                </div>
            </form>
        </div>

        <div class="link-bar">
            <div><a href="#" class="button">Submit</a> </div>
            <div><a href="#" class="button">Back to Menu</a> </div>
        </div>

    </div>
</body>
</html>