<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/index.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nerko+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

        <div class="item1">
            <h1>Welcome</h1>      
        </div>

        <div class="item2">
            <h3>Select the following</h3>      
        </div>

        <div class="item-links">
            <div><a th:href="@{/get-list}" class="button1">Review <i class="fas fa-book-open"></i></a> </div>
            <div><a href="#" class="button1">Write <i class="fas fa-pencil-alt"></i></a>  </div>
        </div>

        <div class="item-lang">
            <div>
                <a href="#EN" class="button2">EN <i class="fas fa-globe-americas"></i></a>
                <a href="#LT" class="button2">LT <i class="fas fa-globe-europe"></i></a>
            </div>
        </div>

    </div>
</body>
</html>