<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/index.css}"/>
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        <div class="item-links1">
            <span> <img src="/pics/blog/us.png" onclick="window.location.href='http://localhost:8080/?lang=en'"></span>
            <span> <img src="/pics/blog/lt.png" onclick="window.location.href='http://localhost:8080/?lang=lt'"></span>
        </div>

        <div class="text">
            <h1 class="item1" th:text="#{greet}">Welcome</h1>

            <p class="item2" th:text="#{select}">Select the following</p>

            <div class="item-links2">
                <span><a th:href="@{/get-list}"><i class="fas fa-book fa-5x"></i></a></span>
                <span><a th:href="@{/add-blog}"><i class="fas fa-pencil-alt fa-5x"></i></a></span>
            </div>
        </div>
    </div>

</body>
</html>