<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/index.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

        <div class="item1">
            <h1 th:text="#{greet}">Welcome</h1>
        </div>

        <div class="item2">
            <h3 th:text="#{select}">Select the following</h3>
        </div>

        <div class="item-links">
            <span><a th:href="@{/get-list}" th:text="#{review}"><i class="fas fa-book-open"></i></a></span>
            <span><a href="#">Write<i class="fas fa-pencil-alt"></i></a></span>
        </div>


        <div class="item-lang">
            <button type="button" th:text="#{lang.eng}" onclick="window.location.href='http://localhost:8080/?lang=en'"></button>
            <button type="button" th:text="#{lang.lt}" onclick="window.location.href='http://localhost:8080/?lang=lt'"></button>
        </div>

    </div>
</body>
</html>