<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/signup.css}"/>
</head>
<body>
<div class="login-box">
    <h2>Fill in the form</h2>
    <br>
    <form th:action="@{/public/registered}" method="POST" th:object="${user}">

        <div class="user-box">
            <label>Username</label>
            <input type="text" name="username" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="hasError"></span>
        </div>

        <div class="user-box">
            <label>Password</label>
            <input type="password" name="password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="hasError"></span>
        </div>

        <div class="user-box">
            <label>Match Password</label>
            <input type="password" name="match" th:field="*{matchPassword}">
            <span th:if="${#fields.hasErrors('matchPassword')}" th:errors="*{matchPassword}" class="hasError"></span>
        </div>

        <div class="user-box">
            <label>Country</label>
            <select th:field="*{country}">
                <option value="Select">Select..</option>
                <option th:value="Lithuania">Lietuva</option>
                <option th:value="US">United States</option>
                <option th:value="Russia">Россия</option>
            </select>
        </div>

        <div class="user-box">
            <label>Phone Number</label>
            <input type="text" name="phoneNum" th:field="*{phoneNum}">
        </div>

        <div class="role-box">
            <label>
                Select Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${roles}"
                       th:text="${role.roleName}"
                       th:value="${role.id}"
                       th:field="*{role}"
                       />
            </label>
        </div>

        <button type="submit">Register User</button>
    </form>
    <span><a th:href="@{/log}">Return</a></span>
</div>
</body>

</html>