<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/blog/signup.css}"/>
    <script src="https://kit.fontawesome.com/f1b017441a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="login-box">

    <h2 th:text="#{sign.up}">Sign Up</h2>

    <form th:action="@{/public/login}" method = "POST">

        <div class="user-box">
            <label th:text="#{sign.username}">Enter Username</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="user-box">
            <label th:text="#{sign.password}">Enter Password</label>
            <input type="password" name="password" id="password">
        </div>

        <p th:if="${loginError}" id="alert" th:text="#{sign.error}">Wrong username or password!</p>
        <button type="submit" th:text="#{sign.login}">Login</button>

    </form>

    <span><a th:href="@{/public/register}" th:text="#{sign.register}">Register</a></span>
    <span><a th:href="@{/private/main}">Menu</a></span>

</div>
</body>
</html>