* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: lemonchiffon;
}

.container {
    border: 5px solid black;
    background-color: burlywood;
    /* ------ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* ------ */
    width:30%;
    height:90%;
}

.button1 {
    text-decoration: none;
    color: blueviolet;
    font-size: 24px;
}

div h1 {
    font-size: 120px;
}

div h3 {
    font-size: 50px;
}

.button2 {
    text-decoration: none;
    color: black;
}


