* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lemonchiffon;
}

.container {
    border: 5px solid black;
    background-color: burlywood;
    /* ------ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* ------ */
    min-width: 300px;
    min-height: 300px;
    width:30%;
    height:50%;
}

.item1{
    font-size: 3em;
}
.item2{
    font-size: 2em;
}

.item-lang, .item-links, .text {
    display: flex;
}

.text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-links1 span img {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.item-links2 {
    margin-top: 5%;
}
.item-links2 span  {
    margin-left: 10px;
}


