* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: lemonchiffon;
}

.container {
    border: 5px solid black;
    background-color: burlywood;
    /* ------ */
    display: flex;
    flex-direction: column;
    /* ------ */
    width:60%;
    height:90%;
}
/* Main Head */
.item1 {
    border-bottom: 5px solid black;
}

.item1 h1, h5  {
    text-align: center;
}

.user-link, .fixed-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    color: saddlebrown;
}


:root {
    --mainColor: #ff9800;
}

.button:hover {
    color: white;
}

.extra-link i {
    margin-left: 3px;
}

/* Blog Header */
.header-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

/* Links  */
.extra-link {
    display: flex;
    justify-content: flex-end;
}

/* Fixed Text */

.fixed-text {
    border-top: 5px solid black;
    border-bottom: 3px solid black;
}

/* Comment Section */

.comments {
    /* ---- */
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 16px;

}
.comments h5 {
    width: 95%;
    text-align: start;
}

#commentator {
    border-bottom: 3px groove chocolate;
    margin-bottom: 1%;
}
#comments-text{
    text-align: justify;
    width: 95%;
}

/* Section Height Determination */

.item1 {
    flex-basis: 10%;
}

.item2 {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.item2 .header-text {
    flex-grow: 1;
    text-align: center;
    width: 95%;
}

.item2 .blog-text {
    flex-grow: 9;
    text-align: justify;
    width: 95%;
}

.extra-link {
    flex-basis: 5%;
}

.fixed-text {
    flex-basis: 5%;
}

.comments {
    flex-basis: 25%;
}

.like {
    align-self: flex-start;
}